<nav>
    <div class="logo">
        <a href="index.html"><img src="http://vatevdesign.eu/demo/sportnews/img/logo.png" alt="Sport Template"></a>
    </div>

    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Pages</a>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="404.html">404</a></li>
                <li><a href="soon.html">Comming soon</a></li>
            </ul>
        </li>
        <li><a href="blog.html">Blog</a>
            <ul>
                <li><a href="blog-post.html">Blog Post</a></li>
            </ul>
        </li>
        <li><a href="#">Shortcodes</a>
            <ul>
                <li class="active"><a href="modules.html">Modules</a></li>
                <li><a href="accordion.html">Accordion</a></li>
                <li><a href="blockquote.html">Blockquote</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="sliders.html">Sliders</a></li>
                <li><a href="icon-box.html">Icon Box</a></li>
                <li><a href="feature-icons.html">Feature Icons</a></li>
                <li><a href="alerts.html">Alerts</a></li>
                <li><a href="price-table.html">Pricing Tables</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="tagline-boxes.html">Tagline Boxes</a></li>
                <li><a href="full-width.html">Typography</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>
