<nav>
    {{!-- <div class="logo">
        <a href="index.html"><img src="img/logo.png" alt="Sport Template"></a>
    </div> --}}

    <ul>
        <li><a href="index.html">Compare</a>
            <ul>
                <li><a href="/fantasy/runningbacks">Compare Runningbacks</a></li>
                <li><a href="/fantasy/quarterbacks">Compare Quarterbacks</a></li>
                <li><a href="/fantasy/tightends">Compare Tight Ends</a></li>
                <li><a href="/fantasy/widereceivers">Compare Wide Recievers</a></li>
            </ul>
        </li>
        <li><a href="#">Pages</a>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="soon.html">Comming soon</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="/users/sign-out">Sign Out</a></li>


    </ul>
</nav>
