
<div class="m-12 bg-orange">
    <div class="m-06 bg-orange">
        <div class="m-06 bg-orange">
            <form id="quarterbackSearchRight" action="quarterback/search">
                <label for="quarterbackInputLeft">
                    <h3>Search quarterback</h3></label>
                <input type="text" id="quarterbackInputLeft">
                <br>
                <!-- This button will trigger our AJAX call -->
                <input id="findQuarterbackLeft" type="submit" value="Find Quarterback" method="GET">
            </form>
        </div>
    </div>
    <div class="m-06 bg-orange">
        <div class="m-06 bg-orange">
            <form id="quarterbackSearchRight" action="quarterback/search">
                <label for="quarterbackInputRight">
                    <h3>Search quarterback</h3></label>
                <input type="text" id="quarterbackInputRight">
                <br>
                <!-- This button will trigger our AJAX call -->
                <input id="findQuarterbackRight" type="submit" value="Find Quarterback">
            </form>
        </div>
    </div>
</div>
</div>
<div class="m-06">
    <div class="module-content">
        <div class="title-default">
            <h2 id="qbLeftName"></h2>
        </div>
        <!-- Module Title -->
        <table class="table-scores">
            <tr class="t-header">
							<td>Completions/Attempts</td>
							<td>Pass Yards</td>
							<td>Rush Yards</td>
							<td>Total TD</td>
							<td>INT</td>
							<td>Fantasy Points</td>
            </tr>
            <tr>
							<td id="qbLeftPassCompletionsAttempts"></td>
							<td id="qbLeftPassYards"></td>
							<td id="qbLeftRushYards"></td>
							<td id="qbLeftTotalTD"></td>
							<td id="qbLeftINT"></td>
							<td id="qbLeftPoints"></td>
            </tr>
        </table>
        <!-- Table Scores -->
    </div>
    <!-- Module Content -->
</div>
<!-- Module -->
<div class="m-06">
    <div class="module-content">
        <div class="title-default">
            <h2 id="qbRightName"></h2>
        </div>
        <!-- Module Title -->
        <table class="table-scores">
            <tr class="t-header">
                <td>Pass Completions</td>
                <td>Pass Attempts</td>
                <td>Yards</td>
                <td>TD</td>
								<td>INT</td>
								<td>Fantasy Points</td>
            </tr>
            <tr>
                <td id="qbRightPassCompletions"></td>
                <td id="qbRightPassAttempts"></td>
                <td id="qbRightYards"></td>
                <td id="qbRightTD"></td>
								<td id="qbRightINT"></td>
								<td id="qbRightPoints"></td>
            </tr>
        </table>
        <!-- Table Scores -->
    </div>
    <!-- Module Content -->
</div>
<!-- Module -->
<script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
<script type="text/javascript">

var queryURL = "http://api.fantasy.nfl.com/v1/players/stats?statType=weekStats&season=2016&week=3&position=QB&format=json";
// This .on("click") function will trigger the AJAX Call
$('#findQuarterbackLeft').on('click', function() {

    var quarterbackLeft = $('#quarterbackInputLeft').val();

    var fantasyPointsLeft = 0;

		$.ajax({url: queryURL, method: "GET"}).done(function(response) {
			for (var i = 0; i < response.players.length; i++)
			if (quarterbackLeft == response.players[i].name) {
					$("#qbLeftName").text(JSON.stringify(response.players[i].name));
					$("#qbLeftPassCompletionsAttempts").html(JSON.parse(response.players[i].stats[3]) + "/" + JSON.parse(response.players[i].stats[2]));
					$("#qbLeftPassYards").html(JSON.parse(response.players[i].stats[5]));
					$("#qbLeftRushYards").html(JSON.parse(response.players[i].stats[14]));
					$("#qbLeftTotalTD").html(totalTD)
					$("#qbLeftINT").html(JSON.parse(response.players[i].stats[7]));
					var passYardsLeft = JSON.parse(response.players[i].stats[5]) / 25;
					var passTDLeft = JSON.parse(response.players[i].stats[6]) * 6;
					var passINTLeft = JSON.parse(response.players[i].stats[7]) * (-2);
					var passTd = JSON.parse(response.players[i].stats[6]);
					var rushTD = JSON.parse(response.players[i].stats[15]);
					var totalTD = parseInt(passTd) + parseInt(rushTD);
				}
		});


        return false;
})

$('#findQuarterbackRight').on('click', function() {

    var quarterbackRight = $('#quarterbackInputRight').val();

    // Here we assemble our URL

		$.ajax({url: queryURL, method: "GET"}).done(function(response) {
			for (var i = 0; i < response.players.length; i++)
			if (quarterbackRight == response.players[i].name) {
					$("#qbRightName").text(JSON.stringify(response.players[i].name));
					$("#qbRightPassCompletions").html(JSON.parse(response.players[i].stats[3]));
					$("#qbRightPassAttempts").html(JSON.parse(response.players[i].stats[2]));
					$("#qbRightYards").html(JSON.parse(response.players[i].stats[5]));
					$("#qbRightTD").html(JSON.parse(response.players[i].stats[6]));
					$("#qbRightINT").html(JSON.parse(response.players[i].stats[7]));
				}
		});


        return false;
})
</script>
