{{>nav}}
<div class="m-12 bg-orange">
    <div class="m-06 bg-orange">
        <div class="m-06 bg-orange">
            <form id="quarterbackSearchRight" action="quarterback/search">
                <label for="quarterbackInputLeft">
                    <h3>Search Quarterback</h3></label>
                <input type="text" id="quarterbackInputLeft">
                <br>
                <!-- This button will trigger our AJAX call -->
                <input id="findQuarterbackLeft" type="submit" value="Find Quarterback" method="GET">
            </form>
        </div>
    </div>
    <div class="m-06 bg-orange">
        <div class="m-06 bg-orange">
            <form id="quarterbackSearchRight" action="quarterback/search">
                <label for="quarterbackInputRight">
                    <h3>Search Quarterback</h3></label>
                <input type="text" id="quarterbackInputRight">
                <br>
                <!-- This button will trigger our AJAX call -->
                <input id="findQuarterbackRight" type="submit" value="Find Quarterback">
            </form>
        </div>
    </div>
</div>
</div>
<div class="m-06">
    <div class="module-content">
        <div class="title-default">
            <h2 id="qbLeftName"></h2>
        </div>
        <!-- Module Title -->
        <table class="table-scores">
            <tr class="t-header">
              <td>Opponent</td>
                            <td>Completions/Attempts</td>
                            <td>Pass Yards</td>
                            <td>Rush Yards</td>
                            <td>Total TD</td>
                            <td>INT</td>
                            <td>Fantasy Points</td>
            </tr>
            <tr>
              <td id="qbLeftnextOpponent"></td>
                            <td id="qbLeftPassCompletionsAttempts"></td>
                            <td id="qbLeftPassYards"></td>
                            <td id="qbLeftRushYards"></td>
                            <td id="qbLeftTotalTD"></td>
                            <td id="qbLeftINT"></td>
                            <td id="qbLeftPoints"></td>
            </tr>
        </table>
        <!-- Table Scores -->
    </div>
    <!-- Module Content -->
</div>
<!-- Module -->
<div class="m-06">
    <div class="module-content">
        <div class="title-default">
            <h2 id="qbRightName"></h2>
        </div>
        <!-- Module Title -->
        <table class="table-scores">
            <tr class="t-header">
              <td>Opponent</td>
              <td>Completions/Attempts</td>
              <td>Pass Yards</td>
              <td>Rush Yards</td>
              <td>Total TD</td>
              <td>INT</td>
              <td>Fantasy Points</td>
            </tr>
            <tr>
              <td id="qbRightnextOpponent"></td>
              <td id="qbRightPassCompletionsAttempts"></td>
              <td id="qbRightPassYards"></td>
              <td id="qbRightRushYards"></td>
              <td id="qbRightTotalTD"></td>
              <td id="qbRightINT"></td>
              <td id="qbRightPoints"></td>
            </tr>
        </table>
        <!-- Table Scores -->
    </div>
    <!-- Module Content -->
</div>
<!-- Module -->
<script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
<script type="text/javascript">
var nextURL = "http://www.fantasyfootballnerd.com/service/schedule/json/dgpcq78rmqze/"
var queryURL = "http://api.fantasy.nfl.com/v1/players/stats?statType=weekStats&season=2016&week=6&position=QB&format=json";
// This .on("click") function will trigger the AJAX Call
$('#findQuarterbackLeft').on('click', function() {
    var quarterbackLeft = $('#quarterbackInputLeft').val();
    var teamName;
    $.ajax({url: nextURL, method: "GET"}).done(function(response) {
      for (var i = 0; i < response.Schedule.length; i++) {
        if (response.Schedule[i].awayTeam == teamName) {
          if (response.Schedule[i].gameWeek == 6){
            $("#qbLeftnextOpponent").text(JSON.stringify(response.Schedule[i].homeTeam));
          }
        } else if (response.Schedule[i].homeTeam == teamName) {
          if (response.Schedule[i].gameWeek == 6){
            $("#qbLeftnextOpponent").text(JSON.stringify(response.Schedule[i].awayTeam));
          }
        }
      }
    });
        $.ajax({url: queryURL, method: "GET"}).done(function(response) {
            for (var i = 0; i < response.players.length; i++)
            if (quarterbackLeft == response.players[i].name) {
          teamName = response.players[i].teamAbbr
                    if (response.players[i].stats[6] === undefined) {
            var passTd = 0;
          } else {
            var passTd = JSON.parse(response.players[i].stats[6]);
          };
                    if (response.players[i].stats[15] === undefined) {
            var rushTD = 0;
          } else {
            var rushTD = JSON.parse(response.players[i].stats[15]);
          };
                    var totalTD = parseInt(passTd) + parseInt(rushTD);
                    $("#qbLeftName").text(JSON.stringify(response.players[i].name));
                    $("#qbLeftPassCompletionsAttempts").html(JSON.parse(response.players[i].stats[3]) + "/" + JSON.parse(response.players[i].stats[2]));
          if (response.players[i].stats[5] === undefined) {
            $("#qbLeftPassYards").html("0");
            var passYardsLeft = 0;
          } else {
            $("#qbLeftPassYards").html(JSON.parse(response.players[i].stats[5]));
            var passYardsLeft = JSON.parse(response.players[i].stats[5]) / 25;
          };
                    $("#qbLeftRushYards").html(JSON.parse(response.players[i].stats[14]));
          $("#qbLeftTotalTD").html(totalTD);
          if(response.players[i].stats[7] === undefined) {
                        $("#qbLeftINT").html("0");
                        var passINTLeft = 0;
                    } else {
                        $("#qbLeftINT").html(JSON.parse(response.players[i].stats[7]));
                        var passINTLeft = JSON.parse(response.players[i].stats[7]) * (-2);
                    };
                    var leftTotalTD = totalTD * 6;
          var total = passYardsLeft + leftTotalTD + passINTLeft;
                    $("#qbLeftPoints").html(total.toFixed(2));
                }
        });
        return false;
});
$('#findQuarterbackRight').on('click', function() {
    var quarterbackRight = $('#quarterbackInputRight').val();
    var teamName;
    $.ajax({url: nextURL, method: "GET"}).done(function(response) {
      for (var i = 0; i < response.Schedule.length; i++) {
        if (response.Schedule[i].awayTeam == teamName) {
          if (response.Schedule[i].gameWeek == 6){
            $("#qbRightnextOpponent").text(JSON.stringify(response.Schedule[i].homeTeam));
          }
        } else if (response.Schedule[i].homeTeam == teamName) {
          if (response.Schedule[i].gameWeek == 6){
            $("#qbRightnextOpponent").text(JSON.stringify(response.Schedule[i].awayTeam));
          }
        }
      }
    });
    // Here we assemble our URL
    $.ajax({url: queryURL, method: "GET"}).done(function(response) {
            for (var i = 0; i < response.players.length; i++)
            if (quarterbackRight == response.players[i].name) {
          teamName = response.players[i].teamAbbr;
                    if (response.players[i].stats[6] === undefined) {
            var passTd = 0;
          } else {
            var passTd = JSON.parse(response.players[i].stats[6]);
          };
                    if (response.players[i].stats[15] === undefined) {
            var rushTD = 0;
          } else {
            var rushTD = JSON.parse(response.players[i].stats[15]);
          };
                    var totalTD = parseInt(passTd) + parseInt(rushTD);
                    $("#qbRightName").text(JSON.stringify(response.players[i].name));
                    $("#qbRightPassCompletionsAttempts").html(JSON.parse(response.players[i].stats[3]) + "/" + JSON.parse(response.players[i].stats[2]));
          if (response.players[i].stats[5] === undefined) {
            $("#qbRightPassYards").html("0");
            var passYardsRight = 0;
          } else {
            $("#qbRightPassYards").html(JSON.parse(response.players[i].stats[5]));
            var passYardsRight = JSON.parse(response.players[i].stats[5]) / 25;
          };
                    $("#qbRightRushYards").html(JSON.parse(response.players[i].stats[14]));
          $("#qbRightTotalTD").html(totalTD);
          if(response.players[i].stats[7] === undefined) {
                        $("#qbRightINT").html("0");
                        var passINTRight = 0;
                    } else {
                        $("#qbRightINT").html(JSON.parse(response.players[i].stats[7]));
                        var passINTRight = JSON.parse(response.players[i].stats[7]) * (-2);
                    };
                    var passTDRight = totalTD * 6;
          var total = passYardsRight + passTDRight + passINTRight;
                    $("#qbRightPoints").html(total.toFixed(2));
                }
        });
        return false;
})
</script>