<!DOCTYPE html>
<div class="m-12 bg-dark-blue">
		<div class="big-heading bg-dark-blue">
			<h1>Compare Quarterbacks</h1>
		</div>		
	</div>					

	<section class="bg-dark-blue">

		<div class="m-06">
			<div class="module-content">

				<div class="title-default">
					<h2>Table Style 01</h2>	
				</div>	<!-- Module Title -->

				<table class="table-scores">
						<tr class="t-header">
							<td colspan="5" class="score-date">Sat 5th Apr</td>
						</tr>

						<tr>
							<td>FT</td>
							<td>Man City</td>
							<td><span>4-1</span></td>
							<td>Southampton</td>
							<td title="Online TV" title="Online TV"><a href="#"><i class="fa fa-desktop"></i></a></td>
						</tr>
						<tr>
							<td>FT</td>
							<td>QPR</td>
							<td><span>5-2</span></td>
							<td>Nottm Forest</td>
							<td title="Online TV" title="Online TV"><a href="#"><i class="fa fa-desktop"></i></a></td>
						</tr>
						<tr class="t-header">
							<td colspan="5" class="score-date">Sat 5th Apr</td>
						</tr>											
						<tr>
							<td>FT</td>
							<td>Rangers</td>
							<td><span>1-3</span></td>
							<td>Dundee Utd</td>
							<td title="Online TV" title="Online TV"><a href="#"><i class="fa fa-desktop"></i></a></td>
						</tr>
						<tr>
							<td>12:45</td>
							<td>Luton</td>
							<td><span>0-0</span></td>
							<td>Braintree</td>
							<td title="Online TV" title="Online TV"><a href="#"><i class="fa fa-desktop"></i></a></td>
						</tr>																											
				</table> <!-- Table Scores -->

			</div>	<!-- Module Content -->	
		</div>	<!-- Module -->	

		<div class="m-06">
			<div class="module-content">

				<div class="title-default">
					<h2>Table Style 02</h2>	
				</div>	<!-- Module Title -->

				<table class="table-scores">
						<tr class="t-header">
							<td>Pos</td>
							<td>Team</td>
							<td>P</td>
							<td>Pts</td>
						</tr>			

						<tr>
							<td>1</td>
							<td>Man City</td>
							<td>31</td>
							<td>70</td>
						</tr>	
						<tr>
							<td>2</td>
							<td>Man City</td>
							<td>25</td>
							<td>65</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Man City</td>
							<td>23</td>
							<td>62</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Man City</td>
							<td>21</td>
							<td>59</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Man City</td>
							<td>21</td>
							<td>59</td>
						</tr>						
																		
				</table> <!-- Table Scores --> 

				<div class="alert alert-notice">
					<i class="fa fa-pencil"></i>					    
					<ul>
						<li>Please note: All times UK. Tables are subject to change. We are not responsible for any changes that may be made.</li>
						<li>Last updated 3 days ago</li>
					</ul>
					<div class="close">
						<i class="fa fa-times"></i>
					</div>
				</div>

			</div>	<!-- Module Content -->	
		</div>	<!-- Module -->	
</html>