 {{>nav}}
<div class="m-12 bg-orange">
    <div class="m-06 bg-orange">
        <div class="m-06 bg-orange">
            <form id="teSearchLeft" action="tightend/search">
                <label for="teInputLeft">
                    <h3>Search tightend</h3></label>
                <input type="text" id="teInputLeft">
                <br>
                <!-- This button will trigger our AJAX call -->
                <input id="findTeLeft" type="submit" value="Find Tightend" method="GET">
            </form>
        </div>
    </div>
    <div class="m-06 bg-orange">
        <div class="m-06 bg-orange">
            <form id="teSearchRight" action="tightend/search">
                <label for="teInputRight">
                    <h3>Search tightend</h3></label>
                <input type="text" id="teInputRight">
                <br>
                <!-- This button will trigger our AJAX call -->
                <input id="findTERight" type="submit" value="Find Tightend">
            </form>
        </div>
    </div>
</div>
<div class="m-06">
    <div class="module-content">
        <div class="title-default">
            <h2 id="teLeftName"></h2>
        </div>
        <!-- Module Title -->
        <table class="table-scores">
            <tr class="t-header">
                <td>Targets</td>
                <td>Receptions</td>
                <td>Pass Yards</td>
                <td>Total TD's</td>
                <td>2Pt Conversions</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <!-- Table Scores -->
    </div>
    <!-- Module Content -->
</div>

<div class="m-06">
    <div class="module-content">
        <div class="title-default">
            <h2 id="teRightName"></h2>
        </div>
        <!-- Module Title -->
        <table class="table-scores">
            <tr class="t-header">
                <td>Targets</td>
                <td>Receptions</td>
                <td>Pass Yards</td>
                <td>Total TD's</td>
                <td>2Pt Conversions</td>
                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <!-- Table Scores -->
    </div>
    <!-- Module Content -->
</div>

<script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
<script type="text/javascript">
// This .on("click") function will trigger the AJAX Call
$('#tightendSearch').on('click', function() {

    var tightendLeft = $('#tightendInputLeft').val();

    // Here we assemble our URL
    var queryURL = "http://api.fantasy.nfl.com/v1/players/stats?" + movie + "&y=&plot=short&r=json";

    http: //api.fantasy.nfl.com/v1/players/stats?statType=seasonStats&season=2010&week=1&format=json


        //------

        // Write code between the dashes below to hit the queryURL with $ajax, then take the response data and display it in the div with an id of movieView
        // YOUR CODE GOES IN THESE DASHES. DO NOT MANUALLY TOUCH THE HTML ABOVE.

        //------

        return false;
})
</script>
